@import 'variables/variables.scss';

@mixin header-and-content() {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 64px;
  padding: 128px 0px;
}

@mixin container() {
  width: 73%;
  max-width: 985px;
}

@mixin border($radius: 25px) {
  border: 3px solid $primary-brown;
  border-radius: $radius;
  box-shadow: 3px 3px 0px $primary-brown;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: $primary-font-family;
  color: $primary-brown;
  background-color: $background-eggshell;
}

h1 {
  margin: 0;
  font-size: 6rem;
  font-weight: 700;
  line-height: 6rem;
}

h2 {
  margin: 0;
  font-size: 4.77rem;
  font-weight: 600;
}

h3 {
  margin: 0;
  font-size: 2.441rem;
  font-weight: 600;
  font-family: $primary-font-family;
}

h4 {
  margin: 0;
  font-family: $secondary-font-family;
  font-size: 1.953rem;
  font-weight: 600;
}

h5 {
  margin: 0;
  font-family: $secondary-font-family;
  font-size: 1.563rem;
  font-weight: 600;
}

h6 {
  margin: 0;
  font-family: $secondary-font-family;
  font-size: 1.25rem;
  line-height: 1.25rem;
  font-weight: 600;
}

p {
  margin: 0;
  font-family: $secondary-font-family;
  font-size: 1.25rem;
  font-weight: 400;
}

.p-small {
  margin: 0;
  font-family: $secondary-font-family;
  font-size: 1rem;
  font-weight: 400;
}
a {
    margin: 0;
    font-family: $secondary-font-family;
    font-size: 1.25rem;
    font-weight: 600;
    text-decoration:none;
    color: $primary-brown;
}

.navbar {
  position: fixed;
  width: 80%;
  left: 50%;
  transform:translateX(-50%);
  display: flex;
  flex-direction: row;
  background-color: #FFF9F1;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0;
  padding: 8px 16px;
  z-index: 1000;
  @include border($radius: 50px);
}

.nav-face-name-logo {
  height: 32px;
}

.nav-face-logo {
  height: 0px;
  visibility: hidden;
}

.nav-group {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.hero-section {
  height: 100vh;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 168px;
  gap: 32px;
}

.hero-header {
  width: 100%;
}
.hero-images {
  position:relative

}

.spinny {
  position: absolute;
  left: -60px;
  top: -60px;
  animation: spin 8s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.projects-section {
  background-color: #D2D8C9;
  @include header-and-content();
}

.projects-container {
  @include container();
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.project {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 216px;
  padding: 32px;
  background-color: $background-eggshell;
  @include border();
  transform: translateY(50px);
  transition: transform 0.4s, opacity 0.6s ease;
}

.project-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.project-tech-icon {
  height: 24px;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.product-image {
  width: auto;
  height: 180px;
  border-radius: 15px;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}

.tech-used-group {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.tech-button {
  display: flex;
  align-items: center;
  gap: 4px;
  border-radius: 50px;
  border: 2px solid;
  padding: 6px 12px;
}

.tech-button-text {
  transform: translateY(-1px);
}

.arrow-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.coming-soon {
  opacity: 0;
  transition: 0.3s;
}

.arrow {
  transition: 0.3s;
}
.project:hover {
  box-shadow: 6px 6px 0px;
  transform: scale(1.05);
  z-index: 10;
  cursor: pointer;

  .product-image {
    visibility: visible;
    opacity: 1;
    height: 216px;
    transform:rotate(-8deg)
  }
  .arrow {
    transform: rotate(-45deg);
  }
  .coming-soon {
    opacity: 1;
  }
}




.experience-section {
  @include header-and-content();

}

.experience-container {
  @include container();
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "exp-1 exp-1"
                       "exp-2 exp-3";
  gap: 16px;
}

.exp-1 {
  grid-area: exp-1;
  background-color: #F7ECF4;
}
.exp-2 {
  grid-area: exp-2;
  background-color: #FFF1D7;
}
.exp-3 {
  grid-area: exp-3;
  background-color: #FFD7D7;
}

.exp {
  @include border;
  padding: 32px 48px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 0;
  transition: 0.3s
}

.line {
  width: 100%;
  height: 1px;
  background-color: $primary-brown;
  margin: 8px 0px;
}

.company-logo {
  @include border;
  position: absolute;
  background-color: $background-eggshell;
  height: 66px;
  width: auto;
  padding: 8px 16px;
  top: 0px;
  left: 100%;
  transform: translateX(-100%);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, transform 0.3s ;
}

.exp:hover {
  transform: scale(1.03);
  z-index: 2;
  .company-logo {
    top: 40px;
    visibility: visible;
    opacity: 1;
    transform: rotate(20deg) translateX(-80%);
  }
}

.skills-section {
  @include header-and-content();
  background-color: #CEC9D8;
}

.skills-container {
  @include container();
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.skills-row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.skills-full {
  display: none;
}

.around {
  justify-content: space-around;
}

.evenly {
  justify-content: space-evenly;
}

.tech-box {
  display: flex;
  gap: 8px;
  align-items: center;
  transition: 0.2s;
  padding: 4px 8px;
}

.name-a-underline {
  position: relative;
}

.underline {
  position: absolute;
  width: 0;
  height: 14px;
  left: 10px;
  bottom: 0px;
  transition: 0.2s;
}


.tech-icon-container {
  position: relative;
  height:48px;
}

.tech-icon {
  transition: 0.2s;
  height: 100%;
}

.mono-tech-icon {
  position: absolute;
  height: 100%;
  left: 0;
  transition: 0.2s;
}

.tech-box:hover {
  .underline {
    width: 100%;
  }
  .mono-tech-icon {
    opacity: 0;
  }
}

.mono-tech-icon:hover {
  position: absolute;
  left: 20;
}


.about-section {
  @include header-and-content();
}

.about-container {
  @include border();
  background-color: #FFC09C;

  width: 80%;
  height: 80vh;
  position: relative;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
ol {
  padding-left: 16px;
  margin: 0;
}

li {
  font-family: $secondary-font-family;
  font-size: 1.15rem;
  font-weight: 400;
}

.card {
  @include border();
  position: absolute;
  padding: 32px;
  background-color: $background-eggshell;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.about-card {
  width: 500px;
  background-color: #FFF1D7;
  top: 50%;
  left: 6%;
  transform: translateY(-50%)
}

.hobbies-card {
  background-color: #EEF8DA; 
  bottom: 3%; 
  left: 43%
}

.school-card {
  width: 380px;
  background-color: #FFD7D7;
  top: 7%;
  left: 44%;
}

.picture-card {
  background-color: #DAEFF8;
  bottom: 15%; 
  right: 5%
}

.socials-card {
  background-color: #F4DAF8; 
  bottom: 22%; 
  right: 26%;
}

.real-doyoon-image {
  border-radius: 15px;
}

.pin1 {
  width: 10px;
  height: 10px;
  background-color: $primary-brown;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  left: 15px;
}

.pin2 {
  width: 10px;
  height: 10px;
  background-color: $primary-brown;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  right: 15px;
}
.pin3 {
  width: 10px;
  height: 10px;
  background-color: $primary-brown;
  border-radius: 50%;
  position: absolute;
  bottom: 15px;
  left: 15px;
}
.pin4 {
  width: 10px;
  height: 10px;
  background-color: $primary-brown;
  border-radius: 50%;
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.about-card-title {
  font-family: $primary-font-family;
}

.about-line {
  width: 100%;
  height: 2px;
  background-color: $primary-brown;
}


.footer {
  width: 100%;
  background-color: #FFF9F1;
  display: flex;
  justify-content: center;
  padding: 64px 0;
}

.footer-container {
  display: flex;
  width: 80%;
  justify-content: space-between;
  gap: 32px;
}

.footer-list {
  display: flex;
  flex-direction: row;
  gap: 22px;
}

.footer-font {
  font-family: $primary-font-family;
  font-weight: 500;
}

.right {
  display: flex;
  flex-direction: column;
  gap:8px;
  align-items: flex-start;
}

.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.fade-out {
  opacity: 0;
  transform: translateY(50px);
}





@media only screen and (max-width: 1200px) {
  h1 {
    font-size: 4.77rem;
    line-height: 5rem;
  }
  
  h2 {
    font-size: 3.814rem;
  }
  
  h3 {
    font-size: 1.953rem;
  }
  
  h4 {
    font-size: 1.563rem;
  }
  
  h5 {
    font-size: 1.25rem;
  }
  
  h6 {
    font-size: 1rem;
    line-height: 1rem;
  }
  
  p {
    font-size: 1rem;
  }

  .product-image {
    height: 100px;
  }

  .project:hover {
    .product-image {
      height: 180px;
    }
  }

  .footer-container {
    grid-template-columns: 2fr 3fr;
  }
  
}

@media only screen and (max-width: 1024px) {
  h1 {
    font-size: 3.814rem;
    line-height: 4rem;
  }

  .nav-face-name-logo {
    height: 26px;
  }

  .projects-container {
    width: 85%;
  }

  .experience-container {
    width: 85%;
  }
  .skills-container {
    width: 85%;
  }
  .about-container {
    width: 85%;
  }
  .footer-container {
    width: 85%;
  }

  .product-image {
    height: 160px;
    visibility: visible;
    opacity: 1;
  }

  .about-container {
    height: 90vh;
  }

  .about-card {
    width: 400px;
    top: 25%;
    left: 6%;
    transform: translateY(0);
    z-index: 3;
  }
  
  .hobbies-card {
    bottom: 3%; 
    left: 43%;
    z-index: 6;
  }
  
  .school-card {
    width: 300px;
    top: 4%;
    left: auto;
    right: 8%;
    z-index: 5;
  }
  
  .picture-card {
    bottom: 15%; 
    right: 5%;
    z-index: 4;
  }
  
  .socials-card {
    top: 6%; 
    left: 6%;
    right:auto;
    bottom: auto;
  }
  
  .footer-logo {
    height: 36px;
  }
  .footer-font {
    font-size: 1rem;
  }
}


@media only screen and (max-width: 768px) {
  
  h2 {
    font-size: 3.05rem;
  }
  
  h3 {
    font-size: 1.563rem;
  }
  
  h4 {
    font-size: 1.25rem;
  }
  
  h5 {
    font-size: 1rem;
  }
  
  h6 {
    font-size: 0.8rem;
    line-height: 1rem;
  }
  
  p {
    font-size: 0.8rem;
  }

  a {
    font-size: 1rem;
  }

  li {
    font-size: 1rem;
  }

  .nav-face-name-logo {
    display: none;
  }
  
  .nav-face-logo {
    height: 32px;
    visibility: visible;
  }
  
  .projects-section {
  padding: 64px 0;
  }

  .experience-section {
    padding: 64px 0;
  }
  
  .about-section {
    padding: 64px 0;
  }

  .skills-section {
    padding: 64px 0;
  }

  .image-container {
    position: relative;
  }
  
  .project {
    padding: 24px 32px;
    height: 180px;
  }

  .product-image {
    position: absolute;
    top: -56px;
    right: -200px;
    transform: rotate(-12deg);
  }

  .project-tech-icon {
    height: 18px;
  }

  .arrow-container {
    align-items: flex-end;
    justify-content: flex-end;
  }
  
  .exp {
    padding: 24px 32px;
  }

  .tech-icon-container {
    height: 40px;
  }

  .about-container {
    height: 90vh;
  }
  
  .about-card {
    width: 400px;
    top: 25%;
    left: 6%;
    transform: translateY(0);
    z-index: 3;
  }
  
  .hobbies-card {
    bottom: 3%; 
    left: 5%;
    z-index: 6;
  }
  
  .school-card {
    width: 300px;
    top: 4%;
    left: auto;
    right: 8%;
    z-index: 5;
  }
  
  .picture-card {
    bottom: 3%; 
    right: 5%;
    z-index: 4;
  }

  .socials-card {
    top: 4%; 
    left: 6%;
    right:auto;
    bottom: auto;
    z-index: 6;
  }

  .footer-container {
    grid-template-columns: 2fr 5fr;
  }

  .footer-logo {
    height: 28px;
  }
}

@media only screen and (max-width: 640px) {
  h1 {
    font-size: 3.05rem;
    line-height: 3.5rem;
  }

  h2 {
    font-size: 2.44rem;
  }
  .projects-container {
    gap: 64px;
  }
  .project {
    height: 216px;
  }

  .project-info {
    justify-content: flex-end;
  }

  .product-image {
    height: 130px;
    top: -40px;
    right: -120px;
    transform: rotate(12deg);
  }

  .experience-container {
    display: flex;
    flex-direction: column;
  }

  .tech-icon-container {
    height: 32px;
  }

  .card {
    padding: 32px 24px;
  }
  .about-container {
    height: 90vh;
  }
  
  .about-card {
    width: 350px;
    top: 25%;
    left: 6%;
    transform: translateY(0);
    z-index: 8;
  }
  
  .hobbies-card {
    bottom: 3%; 
    left: 5%;
    z-index: 6;
  }
  
  .school-card {
    width: 240px;
    top: 4%;
    left: auto;
    right: 8%;
    z-index: 5;
  }
  
  .picture-card {
    bottom: 3%; 
    right: 5%;
    z-index: 4;
  }

  .socials-card {
    top: 4%; 
    left: 6%;
    right:auto;
    bottom: auto;
    z-index: 6;
  }

  .real-doyoon-image {
    height: 150px;
  }

  .footer-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 22px;
    row-gap: 8px;
    margin-right: 0;
    margin-left: auto;
  }
}

@media only screen and (max-width: 480px) {

  h2 {
    text-align: center;
    padding: 0 24px;
  }
  a {
    font-size: 0.8rem;
  }

  .nav-face-logo {
    height: 24px;
  }

  .nav-group {
    gap: 8px;
    right: 0;
  }

  .product-image {
    height: 130px;
    top: -40px;
    right: -100px;
    transform: rotate(12deg);
  }

  .skills-row {
    display: none;
  }
  
  .skills-full {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 16px;
  }

  .tech-box {
    justify-content: center;
  }

  .about-card {
    width: 300px;
    top: 25%;
    left: 6%;
    transform: translateY(0);
    z-index: 8;
  }

  .school-card {
    width: 240px;
    top: 4%;
    left: auto;
    right: 8%;
    z-index: 7;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .footer-logo {
    align-self: start;
    
  }
  .footer-list {
    display: flex;
    margin-left: 0;
  }
}