* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "New Kansas", "sans-serf";
  color: #551F00;
  background-color: #F8ECDA;
}

h1 {
  margin: 0;
  font-size: 6rem;
  font-weight: 700;
  line-height: 6rem;
}

h2 {
  margin: 0;
  font-size: 4.77rem;
  font-weight: 600;
}

h3 {
  margin: 0;
  font-size: 2.441rem;
  font-weight: 600;
}

h4 {
  margin: 0;
  font-family: "Basic Sans", "MS Sans Serif";
  font-size: 1.953rem;
  font-weight: 600;
}

h5 {
  margin: 0;
  font-family: "Basic Sans", "MS Sans Serif";
  font-size: 1.563rem;
  font-weight: 600;
}

h6 {
  margin: 0;
  font-family: "Basic Sans", "MS Sans Serif";
  font-size: 1.25rem;
  line-height: 1.25rem;
  font-weight: 600;
}

p {
  margin: 0;
  font-family: "Basic Sans", "MS Sans Serif";
  font-size: 1.25rem;
  font-weight: 400;
}

.p-small {
  margin: 0;
  font-family: "Basic Sans", "MS Sans Serif";
  font-size: 1rem;
  font-weight: 400;
}

a {
  margin: 0;
  font-family: "Basic Sans", "MS Sans Serif";
  font-size: 1.25rem;
  font-weight: 600;
  text-decoration: none;
  color: #551F00;
}

.navbar {
  position: fixed;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  background-color: #FFF9F1;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0;
  padding: 8px 16px;
  z-index: 1000;
  border: 3px solid #551F00;
  border-radius: 50px;
  box-shadow: 3px 3px 0px #551F00;
}

.nav-group {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.hero-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-header {
  text-align: center;
}

.projects-section {
  background-color: #D2D8C9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 64px;
  padding: 128px 0px;
}

.projects-container {
  width: 73%;
  max-width: 985px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.project {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 216px;
  padding: 32px;
  background-color: #F8ECDA;
  border: 3px solid #551F00;
  border-radius: 25px;
  box-shadow: 3px 3px 0px #551F00;
  transition: 0.3s;
}

.project-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.product-image {
  width: auto;
  height: 180px;
  border-radius: 15px;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}

.tech-used-group {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.tech-button {
  display: flex;
  align-items: center;
  gap: 4px;
  border-radius: 50px;
  border: 2px solid;
  padding: 6px 12px;
}

.tech-button-text {
  transform: translateY(-1px);
}

.arrow-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.arrow {
  transition: 0.3s;
}

.project:hover {
  box-shadow: 6px 6px 0px;
  transform: scale(1.05);
  cursor: pointer;
}
.project:hover .product-image {
  visibility: visible;
  opacity: 1;
  height: 216px;
  transform: rotate(-8deg);
}
.project:hover .arrow {
  transform: rotate(-45deg);
}

.experience-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 64px;
  padding: 128px 0px;
}

.experience-container {
  width: 73%;
  max-width: 985px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "exp-1 exp-1" "exp-2 exp-3";
  gap: 16px;
}

.exp-1 {
  grid-area: exp-1;
  background-color: #F7ECF4;
}

.exp-2 {
  grid-area: exp-2;
  background-color: #FFF1D7;
}

.exp-3 {
  grid-area: exp-3;
  background-color: #FFD7D7;
}

.exp {
  border: 3px solid #551F00;
  border-radius: 25px;
  box-shadow: 3px 3px 0px #551F00;
  padding: 32px 48px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 0;
  transition: 0.3s;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #551F00;
  margin: 8px 0px;
}

.company-logo {
  border: 3px solid #551F00;
  border-radius: 25px;
  box-shadow: 3px 3px 0px #551F00;
  position: absolute;
  background-color: #F8ECDA;
  height: 66px;
  width: auto;
  padding: 8px 16px;
  top: 0px;
  left: 100%;
  transform: translateX(-100%);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, transform 0.3s;
}

.exp:hover {
  transform: scale(1.03);
  z-index: 2;
}
.exp:hover .company-logo {
  top: 40px;
  visibility: visible;
  opacity: 1;
  transform: rotate(20deg) translateX(-80%);
}

.skills-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 64px;
  padding: 128px 0px;
  background-color: #CEC9D8;
}

.skills-container {
  width: 73%;
  max-width: 985px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.skills-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 72px;
  width: 100%;
}

.tech-box {
  display: flex;
  gap: 8px;
  align-items: center;
  transition: 0.2s;
  padding: 4px 8px;
}

.tech-icon {
  transition: 0.2s;
}

.name-a-underline {
  position: relative;
}

.underline {
  position: absolute;
  width: 0;
  height: 14px;
  left: 10px;
  bottom: 0px;
  transition: 0.2s;
}

.tech-icon-container {
  position: relative;
}

.mono-tech-icon {
  position: absolute;
  left: 0;
  transition: 0.2s;
}

.tech-box:hover .underline {
  width: 100%;
}
.tech-box:hover .mono-tech-icon {
  opacity: 0;
}

.mono-tech-icon:hover {
  position: absolute;
  left: 20;
}

.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 64px;
  padding: 128px 0px;
}

.about-container {
  border: 3px solid #551F00;
  border-radius: 25px;
  box-shadow: 3px 3px 0px #551F00;
  background-color: #FFC09C;
  width: 80%;
  height: 80vh;
  position: relative;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

ol {
  padding-left: 16px;
  margin: 0;
}

li {
  font-family: "Basic Sans", "MS Sans Serif";
  font-size: 1.15rem;
  font-weight: 400;
}

.about-card {
  border: 3px solid #551F00;
  border-radius: 25px;
  box-shadow: 3px 3px 0px #551F00;
  position: absolute;
  padding: 32px;
  background-color: #F8ECDA;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.pin1 {
  width: 10px;
  height: 10px;
  background-color: #551F00;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  left: 15px;
}

.pin2 {
  width: 10px;
  height: 10px;
  background-color: #551F00;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  right: 15px;
}

.pin3 {
  width: 10px;
  height: 10px;
  background-color: #551F00;
  border-radius: 50%;
  position: absolute;
  bottom: 15px;
  left: 15px;
}

.pin4 {
  width: 10px;
  height: 10px;
  background-color: #551F00;
  border-radius: 50%;
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.about-card-title {
  font-family: "New Kansas", "sans-serf";
}

.about-line {
  width: 100%;
  height: 2px;
  background-color: #551F00;
}

.footer {
  width: 100%;
  background-color: #FFF9F1;
  display: flex;
  justify-content: center;
  padding: 64px 0;
}

.footer-container {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footer-list {
  display: flex;
  flex-direction: row;
  gap: 22px;
}

.footer-font {
  font-family: "New Kansas", "sans-serf";
  font-weight: 500;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
}/*# sourceMappingURL=index.css.map */