@import 'variables/variables.scss';

@mixin header-and-content() {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 64px;
  padding: 64px 0px;
}

@mixin container() {
  width: 73%;
  max-width: 985px;
}

@mixin border($radius: 25px) {
  border: 3px solid $primary-brown;
  border-radius: $radius;
  box-shadow: 3px 3px 0px $primary-brown;
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: $primary-font-family;
  color: $primary-brown;
  background-color: $background-eggshell;
}

h1 {
  margin: 0;
  font-size: 6rem;
  font-weight: 700;
  line-height: 6rem;
}

h2 {
  margin: 0;
  font-size: 4.77rem;
  font-weight: 600;
}

h3 {
  margin: 0;
  font-size: 2.441rem;
  font-weight: 600;
}

h4 {
  margin: 0;
  font-family: $secondary-font-family;
  font-size: 1.953rem;
  font-weight: 600;
}

h5 {
  margin: 0;
  font-family: $secondary-font-family;
  font-size: 1.563rem;
  font-weight: 600;
}

h6 {
  margin: 0;
  font-family: $secondary-font-family;
  font-size: 1.25rem;
  line-height: 1.25rem;
  font-weight: 600;
}

p {
  margin: 0;
  font-family: $secondary-font-family;
  font-size: 1.25rem;
  font-weight: 400;
}

.p-small {
  margin: 0;
  font-family: $secondary-font-family;
  font-size: 1rem;
  font-weight: 400;
}
a {
    margin: 0;
    font-family: $secondary-font-family;
    font-size: 1.25rem;
    font-weight: 600;
}

.navbar {
  position: fixed;
  width: 80%;
  left: 50%;
  transform:translateX(-50%);
  display: flex;
  flex-direction: row;
  background-color: #FFF9F1;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0;
  padding: 8px 16px;
  z-index: 10;
  @include border($radius: 50px);
}

.nav-group {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.hero-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero-header {
  text-align: center;
}


.projects-section {
  background-color: #D2D8C9;
  @include header-and-content();
}

.projects-container {
  @include container();
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.project {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 216px;
  padding: 32px;
  background-color: $background-eggshell;
  @include border();
  transition: 0.3s;
}

.project-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.product-image {
  width: auto;
  height: 180px;
  border-radius: 15px;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}

.tech-used-group {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.tech-button {
  display: flex;
  align-items: center;
  gap: 4px;
  border-radius: 50px;
  border: 2px solid;
  padding: 6px 12px;
}

.tech-button-text {
  transform: translateY(-1px);
}

.arrow-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.arrow {
  transition: 0.3s;
}
.project:hover {
  box-shadow: 6px 6px 0px;
  transform: scale(1.05);
  cursor: pointer;

  .product-image {
    visibility: visible;
    opacity: 1;
    height: 216px;
    transform:rotate(-8deg)
  }

  .arrow {
    transform: rotate(-45deg);
  }

}




.experience-section {
  @include header-and-content();

}

.experience-container {
  @include container();
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "exp-1 exp-1"
                       "exp-2 exp-3";
  gap: 16px;
}

.exp-1 {
  grid-area: exp-1;
  background-color: #F7ECF4;
}
.exp-2 {
  grid-area: exp-2;
  background-color: #FFF1D7;
}
.exp-3 {
  grid-area: exp-3;
  background-color: #FFD7D7;
}

.exp {
  @include border;
  padding: 32px 48px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 0;
  transition: 0.3s
}

.line {
  width: 100%;
  height: 1px;
  background-color: $primary-brown;
  margin: 8px 0px;
}

.company-logo {
  @include border;
  position: absolute;
  background-color: $background-eggshell;
  height: 66px;
  width: auto;
  padding: 8px 16px;
  top: 0px;
  left: 100%;
  transform: translateX(-100%);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, transform 0.3s ;
}

.exp:hover {
  transform: scale(1.03);
  z-index: 2;
  .company-logo {
    top: 40px;
    visibility: visible;
    opacity: 1;
    transform: rotate(20deg) translateX(-80%);
  }
}

.skills-section {
  @include header-and-content();
}

.skills-container {
  @include container();
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.skills-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 48px;
  width: 100%;
}

.tech-box {
  display: flex;
  gap: 8px;
  align-items: center;
  transition: 0.2s;
  padding: 4px 8px;
}

.tech-icon {
  transition: 0.2s;
}

.name-a-underline {
  position: relative;
}

.underline {
  z-index: -1;
  position: absolute;
  width: 0;
  height: 14px;
  left: 10px;
  bottom: 0px;
  transition: 0.2s;
}


.tech-icon-container {
  position: relative;
}

.mono-tech-icon {
  position: absolute;
  left: 0;
  transition: 0.2s;
}

.tech-box:hover {
  .underline {
    width: 100%;
  }
  .mono-tech-icon {
    opacity: 0;
  }
}

.mono-tech-icon:hover {
  position: absolute;
  left: 20;
}


.about-section {
  @include header-and-content();
}

.about-flex {
  @include border();

  width: 100%;
  height: 50vh;
}