@import './base.css';

#app {
  max-width: 100%;
  margin: 0 4%;
  font-weight: normal;
  overflow-x: hidden;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

}
